// Navigation Styles here
.header-section {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 2rem 0;
  border-bottom: 1px dashed black;
    nav  {
      padding: 1rem;
      a {
        text-decoration: none;
            padding: 1rem;
            font-size: 1.8rem;
      }      
    }
}